HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/

.env
todo-notes.md